@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blog-content img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}

/* For image captions */
.blog-content img + em {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  color: #9ca3af; /* gray-400 */
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}
